<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
    <div class="container">
        <a class="navbar-brand" href="/">

            <img alt="Logo"  src="/images/logo.png">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/admin">Početna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/korisnici">Korisnici</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/konkursi">Konkursi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/prijave-search">Prijave</a>
                </li>


                <li class="nav-item">
                    <a href="/admin/forme-konkursi" class="nav-link " aria-disabled="true">Kreiraj konkurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/admin/kalendar">Kalendar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/admin/grafovi">Grafovi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/admin/statistika">Statistika</a>
                </li>
            </ul>

            <form action="/korisnik/logout" method="POST">
                <button class="btn btn-custom" type="submit" id="odjava-btn">Odjavi se</button>
            </form>
        </div>
    </div>
</nav>
